:root {
  --primary: #7e00fd;
}

html {
  font-size: 62.5%;
}

p,
a {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-act,
.arrow {
  display: none;
}

.wrapper {
  margin: 2.6em;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  color: var(--primary);
  font-weight: bold;
  font-size: 2.8rem;
}

header ul {
  display: flex;
  gap: 2.2rem;
}

header ul li a {
  color: black;
}

a.active {
  text-decoration: underline;
}

/* Hero section */

section.hero {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p.subhead {
  font-size: 2rem;
}

.cta-btns {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 3em;
}

.phone {
  width: 90%;
  margin-top: 5em;
}
