:root {
  --primary: #7e00fd;
}

html {
  font-size: 62.5%;
}

p,
a {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-act,
.arrow {
  display: none;
}

.wrapper {
  margin: 2.6em;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  color: var(--primary);
  font-weight: bold;
  font-size: 2.8rem;
}

header ul {
  display: flex;
  gap: 2.2rem;
}

header ul li a {
  color: black;
}

a.active {
  text-decoration: underline;
}

/* Hero section */

section.hero {
  text-align: center;
}

h1 {
  font-size: 3.2rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p.subhead {
  font-size: 2rem;
}

.cta-btns {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 3em;
}

.phone {
  width: 90%;
  margin-top: 5em;
  position: relative;
  z-index: 2;
}

/* features section */

section.features {
  background-color: var(--primary);
  color: white;
  transform: skewY(12deg) translateY(-8em);
}

section.features .wrapper {
  transform: skewY(-12deg);
}

section.features .wrapper ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 5em 0 10em;
}

section.features .wrapper svg {
  width: 3.5rem;
  margin-left: -0.15rem;
}

section.features .wrapper strong {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  gap: 0.2em;
}

/* Testimonials section */

h2 {
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
}

.testimonian-qoute p {
  margin-bottom: 2em;
}

.author-pic {
  width: 100%;
  height: 17.7em;
  border-radius: 1.2em;
  object-fit: cover;
  margin-bottom: 3em;
}

.author strong {
  font-size: 2rem;
  display: block;
}

.author a {
  color: black;
}

ul.social-nav {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}

ul.social-nav svg {
  width: 3rem;
}

/* footer section */

footer {
  background: #ededed;
  padding: 1.6em 0;
  margin-top: 5em;
}

footer .wrapper {
  margin-bottom: 0;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: black;
}

nav.footer-nav ul,
nav.secondary-nav ul {
  display: flex;
  gap: 2em;
}

nav.footer-nav ul {
  justify-content: right;
}

nav.secondary-nav ul {
  margin-top: 4em;
}

nav.secondary-nav ul li a {
  color: #363636;
  text-decoration: underline;
  font-size: 1.4em;
}

/* midia queroes-- Tablet */

@media only screen and (min-width: 700px) {
  .header-act {
    display: block;
    background-color: var(--primary);
    color: #fff;
    font-size: 1.6em;
    padding: 0.5em 0.7em;
    border-radius: 3px;
    font-weight: bold;
  }

  .hero .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3em;
  }

  section.hero {
    text-align: left;
  }

  h1 {
    font-size: 5, 1em;
    line-height: 110%;
  }

  .hero .right-col {
    position: relative;
    width: 500px;
    height: 600px;
    overflow: hidden;
  }

  .phone {
    position: absolute;
    left: 0;
    width: 500px;
  }

  .cta-btns {
    justify-content: left;
  }

  /* features section */

  section.features {
    transform: skewY(7deg) translateY(-8em);
  }
  section.features .wrapper {
    transform: skewY(-7deg);
  }

  section.features:before {
    content: "";
    position: absolute;
    background: url("./asset/graphic.svg") no-repeat;
    width: 205px;
    height: 80px;
    bottom: -30px;
    left: 10%;
  }

  section.features .wrapper ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 7em 0 12em;
  }

  section.features .wrapper ul li:last-of-type {
    grid-column: 1/3;
  }

  /* testimonials section */

  .testimonial-info {
    display: flex;
    gap: 2em;
  }

  .author-pic,
  .author {
    flex: 1;
  }

  .author-pic {
    margin: 0;
  }

  .author {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* media queroes --Desktop */

@media only screen and (min-width: 950px) {
  .wrapper {
    max-width: 1000px;
    margin: 2em auto;
  }
  .phone {
    width: 500px;
    left: -100px;
  }
  .hero .right-col {
    width: 500px;
    height: 600px;
    overflow: inherit;
  }

  /* features section */

  section.features .wrapper ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 300px;
  }

  section.features .wrapper ul li:last-of-type {
    grid-column: auto;
    align-self: end;
  }

  section.features .wrapper ul li:nth-of-type(2) {
    align-self: center;
  }

  section.features:before {
    left: 20%;
  }

  /* testimonials section */

  .testimonial {
    display: flex;
    gap: 4em;
    margin: 12em 0;
  }

  .testimonial-qoute,
  .testimonial-info {
    flex: 1;
  }
}
